{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrin-to-fit=no">
    <meta name="discriotion" content="">
    <meta name="author" content="">
    <title>{%block title%}{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900,">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,700,700i,900,900i,">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/one-page-wonder.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                <a href="{% url 'memo:index' %}" class="navbar-brand">private memo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav mr-auto">
<!--                        <li class="nav-item {% block active_inquiry %}{% endblock %}">-->
<!--                            <a href="{% url 'memo:inquiry'%}" class="nav-link">inquiry</a>-->
<!--                        </li>-->
                    {% if user.is_authenticated %}
                    <li class="nav-item {% block active_memo_list %}{% endblock %}">
                        <a href="{% url 'memo:memo_list'%}" class="nav-link">MEMO LIST</a>
                    </li>
                    {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        {% if user.is_authenticated %}

                        <li class="nav-item">
                            <a href="{% url 'account_logout' %}" class="nav-link">Log Out</a>
                        </li>

                        {% else %}

                        <li class="nav-item {% block active_signup %}{% endblock %}">
                            <a href="{% url 'account_signup' %}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item {% block active_login %}{% endblock %}">
                            <a href="{% url 'account_login' %}" class="nav-link">Log In</a>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block header%}{% endblock %}

        {% if messages %}
            <div class="container">
                <div class="row">
                    <div class="my-div-style w-100">
                        <ul class="message"style="list-style:none;">
                            {% for message in messages%}
                            <li {%if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}

        {% block contents%}{% endblock %}
        <footer class="py-5 bg-black">
            <div class="container">
                <p class="m-0 text-center text white small">Copyright &copy; Private Memo 2020</p>
            </div>
        </footer>

        <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    </div>
</body>
</html>