{% extends 'base.html' %}
{% load static %}
{% block title %}MemoUpdate|public Memo{% endblock %}
{% block active_memo_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-primary" type="submit">Update</button>
                <a href="{% url 'memo:memo_detail' memo.pk %}" class="btn btn-secondary ml-2">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
