{% extends 'base.html' %}
{% load static %}
{% block title %}MemoUpdate|public Memo{% endblock %}
{% block active_memo_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>ほんとに削除しますか？</p>
                <button class="btn btn-primary mt-5" type="submit">削除</button>
                <a href="{% url 'memo:memo_detail' object.pk %}" class="btn btn-secondary ml-2">キャンセル</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}