{% extends 'base.html' %}
{% load static %}
{% block title %}日記詳細|Private Diary{% endblock %}
{% block active_memo_list %}active{% endblock %}

{% block contents %}
<div class="container">
    <div class="my-div-style w-100">
        <div class="row">
            <div class="col-3">
                <strong>タイトル</strong>
            </div>
            <div class="col-9">
                {{object.title}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>本文</strong>
            </div>
            <div class="col-9">
                {{ object.content|linebreaksbr }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>制作日時</strong>
            </div>
            <div class="col-9">
                {{object.created_at}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{object.updated_at}}
            </div>
        </div>

        <a href="{% url 'memo:memo_update' memo.pk %}" class="btn btn-success mt-5 mb-3">編集</a>
        <a href="{% url 'memo:memo_delete' memo.pk %}" class="btn btn-denger mt-5 mb-3">削除</a>
    </div>
</div>
{% endblock %}